<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>ghah</servlet-name>
        <servlet-class>com.serena.GitHubAntHillTriggerBridge</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ghjenkins</servlet-name>
        <servlet-class>com.serena.GitHubJenkinsBridge</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ghah</servlet-name>
        <url-pattern>/trigger</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ghjenkins</servlet-name>
        <url-pattern>/github-webhook/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>props-init</servlet-name>
        <servlet-class>com.serena.PropertiesInit</servlet-class>

        <init-param>
            <param-name>log4j-init-file</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>

        <init-param>
            <param-name>props-file</param-name>
            <param-value>../classes/app.properties</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>props-init</servlet-name>
        <url-pattern>/init/</url-pattern>
    </servlet-mapping>

</web-app>     